
.open-sans-nature {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
 .dark-2{
    color: #474747;
 }
.text-primary {
    color: #FD6E0A;
}
/*header*/
header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , top right;
   
   
    
}

/* nav styles*/
 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;


 }

 .nav-title {
 font-weight: 800px;
 font-size: 45px;   
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right:50px;

}
nav li a{
    text-decoration: none;
    font-size: 15px;
}
.btn-primary {
   background-color:#FD6E0A;
   font-size: 10px;
   color: white;
   padding: 18px 35px;
   border:none;
   border-radius: 5px;
   border-color: #e79358;
   

}
/* banner-styles*/
.banner{
    display: flex;
    justify-content:space-between ;
    margin: 0 35px 0 200px;
    
}
.banner-style{
    max-width: 580px;
}
 .banner-greetings{
    font-size: 45px;
    font-weight: 600;
 }
 .banner-title{
    font-weight: bold;
    font-size: 85px;

 }
 .banner-pic{
    width: 280px;
 }

